@import './../fonts/minecrafter/stylesheet.css';
@import './../fonts/minecraft/stylesheet.css';

* {
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: "Minecraft Regular"
}


.cta {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 60px;
    background: #3d62fd;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 12px;
    transition: all 200ms ease-in-out;
    border: none;
    cursor: pointer;

    &.secondary-white {
        background: white;
        color: black;
        text-align: left;
        width: fit-content;
        font-weight: 400;
        margin-right: 12px;
        font-size: 18px;
    }

    &:hover {
        box-shadow: 0px 6px 20px 5px rgba(53, 95, 212, .48);
        transform: translateY(-3px);
    }
}

.flex-row {
    width: 100%;
    display: flex;
}

.navbar .nav-con .brand, .cta, .navbar, button, .hero .hero-con h1  {
  font-family: "Minecraft Regular" !important;
}

.hero .hero-con p {
  font-family: "Minecraft Regular" !important;
}

.full-width {
    width: 100%;
}

.nav-space {
    height: 70px;
    background: black;
}